body {
	font-family: 'Montserrat', sans-serif;
}

#descricaoCondicaoAtual {
	margin-top: 16px;
}

.jumbotron {
  text-align: center;
}

.blockHead {
  background:  rgba(255, 153, 0, 0.8);
  text-align: left;
}

.blockHead p {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 14px 20px;
  text-transform: uppercase;
}

.blockBody {
  background:  rgba(255, 153, 0, 0.5);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}

.blockBody #location {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 14px 20px;
}

#owm-temp {
  display: inline-block;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  padding: 0 20px;
  vertical-align: top;
}

.additional {
  display: inline-block;
  padding: 0 20px;
  vertical-align: top;
}

.icon-block {
  display: inline-block;
  padding: 0 20px;
}

#owm-icon {
  font-size: 80px;
}

.wind-block {
  display: inline-block;
  padding: 0 20px;
}

#owm-wind-icon {
  font-size: 80px;
}

#chart {
    padding: 0 15px;
}

.card-weather {
  background-color: rgba(255, 153, 0, 0.5);
  margin-right: 5px;
}

.card-weather p {
  text-transform: uppercase;
}

.ajusteRow {
  margin-top: 5px;
}

.posicionamento {
  display: inline-flex;
  padding-right: 10px;
}

.posicionamentoIcon {
  display: flex;
  padding-top: 10px;
}

.algumasnuvens {
  background-image: url('http://php-vitorwebsystem.rhcloud.com/openweather/02d.png');
  height: 50px;
  width: 50px;
}

.chuvafraca {
  background-image: url('http://php-vitorwebsystem.rhcloud.com/openweather/10d.png');
  height: 50px;
  width: 50px;
}

.céuclaro {
  background-image: url('http://php-vitorwebsystem.rhcloud.com/openweather/01d.png');
  height: 50px;
  width: 50px;
}

.icon-grow {
  font-size: 80px;
}